.box2 {
    height: 86px;
    cursor: pointer;
    border-radius: 4px;
    padding: 0px 30px 0px 30px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e4ecf3;
    margin: 20px 0 0 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    border-radius: 4px;

    }

    .search input{

     height: 50px;
     text-indent: 25px;
     border: 2px solid #d6d4d4;
     border-radius: 4px;
     

    }

    .search input:focus {
        
    border: double 2px transparent;
    border-radius: 4px;
    background-image: linear-gradient(white, white), 
                    linear-gradient(45deg, #FF5934, #6C34FF);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

    .search .fa-search{

     position: absolute;
     top: 20px;
     left: 16px;

    }

    .search button {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 40px;
        width: 110px;
        background: rgb(167, 167, 233);
        border-radius: 4px;
        border: 0px solid transparent; /* 设置为透明以准备渐变 */
        background-clip: padding-box; /* 防止背景遮盖边框 */
    }
    
    /* 搜索按钮鼠标悬停时的样式 */
    .search button:hover {
        background: linear-gradient(45deg, #FF5934, #6C34FF);
        color: white; /* 可以根据需要更改文字颜色 */
    }

.box2:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.xe-comment-entry img {
    float: left;
    display: block;
    margin-right: 10px;
}
.xe-comment {
    transform: translateY(-50%);
    position: absolute;
    margin-left: 50px;
    top: 50%;
}
.xe-comment p {
    margin-bottom: 0px;
    margin-right: 15px;
}
.overflowClip_1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.overflowClip_2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.submit-tag{
    margin-top: 50px;

}

.img-circle {
    padding: 7px 0;
}